<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,
        td {
            border: 1px solid #333;
        }
    </style>
</head>
<body style="margin : 10px">
<h2 style="color: blue" th:text=" 'About: '+${display.subject} "></h2>
<h3  th:each=" item : ${display.labelList}" th:text="${item}" style="margin-left: 30px"> </h3>
<p th:if="${display.comment != null}"> <div style="font-weight: bold;">Description :</div> <div style="margin-left: 30px" th:text="${display.comment}"></div><br> </p>
    <table>
        <tr th:each=" item : ${display.predicateObject}">
            <td  ><a th:href="${item.key}" th:text="${item.key}" > </a>  </td>
            <td>
                <ul>
                    <li th:each="it : ${item.value}">
                        <a th:if ="${ it.isResource() }"  th:href=" '?subject=<' +${it}+'>'"><span th:text="${it.toString()}"></span></a>
                        <span th:unless="${ it.isResource() }" th:text="${it.toString()}"></span>
                    </li>
                </ul>
                <br>
            </td>
        </tr>
    </table>

</body>

</html>